In [1]:
print('Hello World')

Hello World

In [3]:
a=2
b=c=a
print(a)
print(b)
print(c)

2
2
2

In [4]:
print("'abcd'dfsgsgg")

'abcd'dfsgsgg

In [5]:
a="""ffdeyedyefgeyujs"""
print(a)

ffdeyedyefgeyujs

In [10]:
a='Hello World'
print(len(a))

11

In [13]:
a='hello world, I am oxxo, how are you?'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(b)
print(c)
print(d)

['hello world', ' I am oxxo', ' how are you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you?']

In [14]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [15]:
t = ('apple','banana','orange','grap')
a, b, c, d =t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grap

In [16]:
t = ('apple','banana','orange','grap')
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap

In [ ]:
t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t=t1+t2
print(t)

In [19]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])

In [ ]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)

In [20]:
a=2
b=3
if a>b:
    print('Hello')
print("ok")

ok

In [21]:
a=2
b=3
if a>b:
    print('hello')
else:
    print('world')
print('ok')

world
ok

In [25]:
a=2
b=3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
    print('a=b')
print('ok')

a<b
a=2
ok

In [27]:
for a in['x','y','z']:
    for b in[1,2,3]:
      print(b)
    print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [28]:
for a in['x','y','z']:
    for b in[1,2,3]:
        print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [30]:
i = []
for t in range(10):
  t+=1
  i.append(t)

In [32]:

try:
    a= input('輸入數字：')
    print(a+1)
except:
  pass
print('hello')

輸入數字：4
hello